<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>boardMVC_day01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 서블릿을 만들어준다 -->
  <!-- servlet-class(경로)를  servlet-name(이름)으로 사용하겠다-->
  <servlet>
    <servlet-name>MemberFrontController</servlet-name>
    <servlet-class>com.boardMVC.app.member.MemberFrontController</servlet-class>
  </servlet>
  
  <!-- 모든 요청을  MemberFrontController로 가라 -->
  <servlet-mapping>
    <servlet-name>MemberFrontController</servlet-name>
    <url-pattern>*.me</url-pattern>
  </servlet-mapping>
</web-app>